/lab2/Lab2/nbproject/private/
/lab2/Lab2/build/
/lab2.3/nbproject/private/
/lab23/nbproject/private/
/lab23/build/
/baitap/nbproject/private/
/baitap/build/
/test/nbproject/private/
/test/build/
/Lab3_2/nbproject/private/
/Lab3_2/build/
/lab3.2/lab3.2/nbproject/private/
/lab3.2/lab3.2/build/
/lab3.2/thuchanh/nbproject/private/
/lab3.2/linh/nbproject/private/
/lab3.2/linh/build/
/Lab04/lab4/nbproject/private/
/Lab04/baitap04/nbproject/private/
/Lab04/baitap04/build/
